body {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

h1 {
	text-align: center;
	border-bottom: 1px solid grey;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
}

h1 img {
	margin-left: 10px;
}

.pane {
	width: 29.5%;
	height: 400px;
	font-size: 22px;
	padding: 40px 0px 0px 10px;
	margin: 0px 10px 40px 10px;
	position: relative;
	display: inline-block;
	transition: border .2s ease;
 	-webkit-transition: border .2s ease;
	-moz-transition: border .2s ease;
	-o-transition: border .2s ease;
}

#pane1 {
	border: 1px solid rgb(251,106,102,0.3);
	margin-left: 40px;
}

#pane1:hover {
	border: 1px solid rgb(251,106,102,1);
}

#pane2 {
	border: 1px solid rgb(251,106,102,0.6);
}

#pane2:hover {
	border: 1px solid rgb(251,106,102,1);
}

#pane3 {
	border: 1px solid rgb(251,106,102,0.9);
}

#pane3:hover {
	border: 1px solid rgb(251,106,102,1);
}

.pane .thumbnail {
	background-size: 150px 150px;
	width: 150px;
	height: 150px;
	float: left;
	margin: 0px 20px 0px 10px;
}

#thumbnails-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	bottom: 0px;
	width: 100%;
	justify-content: space-between;
}

#thumbnails-container .thumbnail {
	cursor: pointer;
	transition: all .2s ease;
 	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}

#thumbnails-container .thumbnail:hover {
	transform: scale(1.1);
}

.thumbnail {
	background-image: url(./assets/one.png);
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	margin: 10px 10px;
}

.thumbnail-placeholder {
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	margin: 10px 10px;
	display: none;
}

.thumbnail-movable {
	background-image: url(./assets/one.png);
	background-size: 150px 150px;
	width: 150px;
	height: 150px;
	float: left;
	margin: 0px 20px 0px 0px;
	display: none;
}